<div class="card">
    <div class="card-body">

      <div class="row " >

        <div class="col-md-12"   >
 
                <img src="assets/img/wedding-desktop.jpg" alt="" >

                
          
        </div>

      </div>

    

     
      <div class="row featured__container grid" >

        <div class="col-md-3">
            <article class="featured__card">
                <img src="assets/img/testimonial1.jpg" alt="" class="featured__img">
                <button class="button featured__button"  routerLink="../collections/mens-watches">Men's Watches</button>
            </article>
        </div>

        
        <div class="col-md-3">
            <article class="featured__card">
                <img src="assets/img/testimonial2.jpg" alt="" class="featured__img">
                <button class="button featured__button"  routerLink="../collections/womens-watches">Women's Watches</button>
            </article>
        </div>

        <div class="col-md-3">
            <article class="featured__card">
                <img src="assets/img/smart-watches.jpg" alt="" class="featured__img">
                <button class="button featured__button"  routerLink="../collections/smart-watches-all">Smart Watches</button>
            </article>
        </div>

      </div>



  
  
    </div>
  
  
  
  </div>